.container .jumbotron {
border-radius: 0;
}

.jumbotron {
  background-color: #0082ec;
  color: white;
  margin-bottom: 0px;
}
.navbar {
  background-color: #c6c8c9;
  border-radius: 0;
  margin-bottom: 0px;
}

.form-inline.pull-xs-right {
    margin-top: 8px;
    width: 271px;
    float: right;
    margin-right: 8px;
}
