.container .jumbotron {
border-radius: 0;
}

.jumbotron {
  background-color: #0d426e;
  color: white;
  margin-bottom: 0px;
  font-family: times;
}

.jumbotron .p {
  position: relative;
  right: 20px;
}
.navbar {
  background-color: #c6c8c9;
  border-radius: 0;
  margin-bottom: 0px;
}

.form-inline.pull-xs-right {
    margin-top: 8px;
    width: 271px;
    float: right;
    margin-right: 8px;
}
.list-group-item-img {
  margin-left: 25px;
}

/*.50years {
  position: relative;
  top: 100px;
}*/
