.container {
  background-color: #c3c3c3;
}

.jumbotron {
  background-color: white;
}


.thumbnail {
  font-size: .8em;
  border: 0 none;
  box-shadow: none;
  background-color: #628dbf;
}
.main {
  //*background-color: #617b9c;

}
